@import url('/stylesheets/base.css');


.container{
    display: flex;
    height:100%;
}


.sidenav{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 18%;
    position: fixed;
    
}

.sidenav a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--primary-color);
}

.sidenav a:hover{
    color: var(--black-color);
}
.sidenav li {
    list-style: none;
    padding: 6px;
}

.component-container{
    margin-left: 2rem;
    padding-left:20%;
    padding-top: 2rem;
    padding-right: 2rem;
    
}

.component-name{
    font-size: var(--text-lg);
    padding: 1rem 0;
}
.component-info{
    font-size: var(--text-sm);
}

.component-container-view{
    background-color: var(--lynx-white);
    margin-top: 2rem;
    width: 75%;
    border-radius: 0.3rem;
}

.alert-container, .alert-container,.badge-container
.button-container{
    padding: 1rem;
}

.avatar-component-view{
    padding:1rem 2rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.alert-component-view{
    display:flex;
    flex-direction: column;
}
.sub-heading{
    font-size:var(--text-m);
    padding: 0.5rem;
}

/* .component-view{
    width
} */

.code-snippet{
    width: 75%;
    overflow: auto;
    padding-top: 2rem;
}

@media screen and (max-width:768px){
    .sidenav{
        /* display: none; */
        flex: 1;
    }
    html{
        font-size: 40%;
    }

}