@import url('/stylesheets/base.css');

.btn{
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    margin:1rem;
    font-size: large;
}

.btn-primary,.link-btn{
    background-color: var(--primary-color);
    color: var(--lynx-white);
}
.btn-secondary{
    color:var(--black-color);
    background-color: var(--lynx-gray);
}
.btn-secondary:hover{
    color:var(--lynx-white);
    background-color: var(--black-color);
}

.btn-hover{
    color:var(--black-color);
    background-color: var(--primary-alert-color);
}

.btn-hover:hover{
    color:var(--lynx-white);
    background: var(--primary-color);
}

.text-style-none{
    text-decoration: none;
    color: var(--lynx-white);
}

.btn-icon,.btn-float-action{
    border-radius:var(--border-radius-circle);
    padding: 0.8rem;
    font-size: 0.8rem;
    background-color:var(--primary-alert-color);
    color:var(--lynx-white)
}
.btn-icon:hover, .btn-float-action:hover{
    background-color:var(--violet-color);
}
.btn-float-action:hover{
    box-shadow: 2px 2px var(--lynx-gray);
}
.btn-simple{
    background-color: var(--lynx-white);
    color: var(--primary-color);
    border: 1px solid var(--black-color);

}
.btn-simple:hover{
    background-color: var(--violet-color);
    color:var(--lynx-white)

} 
