@import url('/stylesheets/base.css');

.grid-two-item-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    width:20rem;
    
  }

.grid-three-item-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  width:20rem;
  
}

.grid-item {
    border: 1px solid var(--black-color);
    border-radius: 2px;
    background-color: var(--success-color);
    height: 5vh;
}