@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3B82F6;
    --secondary-color: #FFF6EA;
    --gray: #9a9a9a;
    --black-color: #282828;
    --white-color: #ffffff;
    --lynx-white: #f7f7f7;
    --violet-color: #5348c7;
    --lynx-gray: #c5c5c5;
    --pure-white:#fff;

    --margin:0.25rem;
    --padding:0.25rem;

    /* border */
    --border-radius-circle:50%;
    --border-radius:1rem;

    --text-lg:2.5rem;
    --text-m:1.8rem;
    --text-sm:1.2rem;

    /* alert colors */
    --success-color:#73d13d;
    --warning-color:#ffc53d;
    --danger-color:#ff7875;
    --primary-alert-color:#69c0ff;
    --secondary-alert-color:#eaeaec;
    /* rating color */
    --gold-color:#ffd700;

    /* snack-bar-colors */
    --snackbar-violet-color:#b880fc;

    /* font-size */
    --xl-size:3rem;
    --l-size:2rem;
    --m-size:1.5rem;
    --sm-size:1rem;
    --xsm-size:0.5rem;
    

}
body {
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display:flex;
}

.flex-column{
    flex-direction: column;
}

.justify-content-flex-end{
    justify-content: flex-end;
}

